/*h2
{
    text-align: center;
    background-color:black;
    color:white;
    font-size: 30px;
}*/
#add
{
    font-size: 23px;
    padding-top: 3px;
}
#added
{
    height:36px;
    width:90px;
    font-size: 18px;
}


